body {
    background-color: #f9f9f9;
}
.room-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
#current-date,
#current-time,
#current-available {
    font-size: 18px;
    margin: 10px 0;
}
#current-time, #current-available {
    font-size: 22px;
    font-weight: bold;
}
#room-name {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
}
#current-bookings {
    margin: 20px 0;
    text-align: left;
}
.today {
    background-color: #87cefa;
}
.form-group {
    margin-top: 0.5rem;
}
/* Styling khusus kalender */
.calendar {
    max-width: 400px; /* Maksimum lebar kalender */
    margin: 0 auto; /* Agar kalender berada di tengah */
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.day {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s;
}
.day-header {
    background-color: #f1f1f1;
    font-weight: bold;
}
.day:hover {
    background-color: #e9ecef;
}
/* Styling khusus kalender */

#bookingHistoryModalBody {
    overflow-x: auto;
}

#bookingHistoryTable {
    min-width: 50rem;
}

@media only screen and (min-width: 768px) {
    #bookingHistoryModal > .modal-dialog {
        min-width: 75rem;
    }
}